html {
    --background-colour: powderblue;
}
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--background-colour);
    top: 0;
    left: 0;
}
#topbar {
    width: 10vw;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}
.top {
    padding-left: 5vw;
    padding-top: 2vh;
}